<div style='margin: 1.5rem 2rem;'>
  <div class="container">
    <form (ngSubmit)='onSubmit()' #f='ngForm'>
      <div class="form-row">
        <div class="form-group col-md-8 col-xs-12">
          <label for='text2format'>Texte à lire</label>
          <input autocomplete='off' type="text" class="form-control" id="text2format" name='text2format'
            placeholder="Veuillez saisir un mot, une phrase et appuyer sur entrée" #text2format ngModel required
            autofocus>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 col-xs-12">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="majuscule" name='majuscule' [(ngModel)]='state'>
            <label class="custom-control-label" for="majuscule">Majuscule</label>
          </div>
        </div>

      </div>
      <div class="form-row">
        <div class="form-group col-md-8 col-xs-12">
          <div class="d-flex">
            <div class="mr-auto">
              <button class='btn btn-outline-secondary' type='button' id='reset'
                (click)='onReset()' >Réinitialiser</button>
            </div>
            <div class="mr-auto">
              <a class='btn btn-outline-primary monkey' style="min-width: 3rem;max-width:4.5rem" (click)='onRandomWords()'>
                </a>
            </div>
            <div>
              <button class='btn btn-primary' type='button' id='pdf' (click)='onPdf()'
                style="min-width: 4rem;" [disabled] = 'texts.length == 0'>Pdf</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div>
      <app-color-text *ngFor='let item of texts' [colorText]='item'>

      </app-color-text>
    </div>
  </div>
  <audio  id="player" #player style="display: none;" >
    <source src="assets/sound/monkey3.wav" type="audio/wav">
  </audio>
</div>